<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <div class="form-group">
    <input style="margin: auto; max-width: 300px;" class="form-control" #input type="text">
  </div>
  <button class="btn" (click)="add(input.value)">Добавить</button>
  <div class="row" style="margin-top: 10px;">
    <ul>
      <li *ngFor="let item of arr; let a=index">
        <div style="cursor: default" (click)="delete(a)" class="closer">
          X
        </div>
        <div>
          {{item}}
        </div>
      </li>
    </ul>
  </div>
</div>
